<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Dashboard">
    <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
    
    <title>SoapBox Admin Panel</title>
{% load staticfiles %}
    <!-- Bootstrap core CSS -->
    <link href="{% block stylesheet1 %}{% static "css/bootstrap.css" %}{% endblock %}" rel="stylesheet">
    <!--external css-->
    <link href="{% block stylesheet2 %}{% static "font-awesome/css/font-awesome.css" %}{% endblock %}" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="{% block stylesheet3 %}{% static "css/zabuto_calendar.css" %}{% endblock %}">
    <link rel="stylesheet" type="text/css" href="{% block stylesheet4 %}{% static "js/gritter/css/jquery.gritter.css"  %}{% endblock %}"/>
    <link rel="stylesheet" type="text/css" href="{% block stylesheet5 %}{% static "lineicons/style.css"  %}{% endblock %}">    
    
    <!-- Custom styles for this template -->
    <link href="{% block stylesheet6 %}{% static "css/style.css"  %}{% endblock %}" rel="stylesheet">
    <link href="{% block stylesheet7 %}{% static "css/style-responsive.css"   %}{% endblock %}" rel="stylesheet">

    <script src="{% block stylesheet8 %}{% static "assets/js/chart-master/Chart.js"   %}{% endblock %}"></script>
    
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
<a href="#" name="topheader"></a>
  <section id="container" >
      <!-- **********************************************************************************************************************************************************
      TOP BAR CONTENT & NOTIFICATIONS
      *********************************************************************************************************************************************************** -->
      <!--header start-->
      <header class="header black-bg">
              <div class="sidebar-toggle-box">
                  <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
              </div>
            <!--logo start-->
            <a href="http://localhost:8080/soapbox/" class="logo"><b>Soapbox Admin</b></a>
            <!--logo end-->
           <!-- Top Drop down Menu -->
            <div class="top-menu">
            	<ul class="nav pull-right top-menu">
                    <li><a class="logout" href="http://localhost:8080/soapbox/logout/">Logout</a></li>
            	</ul>
            </div>
        </header>
      <!--header end-->
      






      <!-- **********************************************************************************************************************************************************
      MAIN SIDEBAR MENU
      *********************************************************************************************************************************************************** -->
      <!--sidebar start-->
      <aside>
          <div id="sidebar"  class="nav-collapse ">
              <!-- sidebar menu start-->
             <ul class="sidebar-menu" id="nav-accordion">
              
              	  <p class="centered"><a href="profile.html">
<img src="{% block img1 %}{% static "img/admin.png" class="img-circle" %}{% endblock %}" width="60"></a></p>
              	  <h5 class="centered">Administrator</h5>
              	  	
                  <li class="mt">
                      <a href="/soapbox/">
                          <i class="fa fa-dashboard"></i>
                          <span>Dashboard</span>
                      </a>
                  </li>

                  <li class="sub-menu">
                      <a href="http://localhost:8080/soapbox/manageusers/" >
                          <i class="fa fa-users"></i>
                          <span>Manage Users</span>
                      </a>
                  </li>

                  <li class="sub-menu">
                      <a href="http://localhost:8080/soapbox/manageposts/" >
                          <i class="fa fa-music"></i>
                          <span>Manage Posts</span>
                      </a>
                  </li>
                  <li class="sub-menu">
                      <a href="http://localhost:8080/soapbox/managecategories/" >
                          <i class="fa fa-tasks"></i>
                          <span>Manage Categories</span>
                      </a>
                  </li>
                  <li class="sub-menu">
                      <a href="http://localhost:8080/soapbox/manageautolength/" >
                          <i class="fa fa-clock-o"></i>
                          <span>Manage Auto - Length</span>
                      </a>
                  </li>
                  <li class="sub-menu">
                      <a href="http://localhost:8080/soapbox/manageprofile/" >
                          <i class="fa fa-user"></i>
                          <span>Manage Profile</span>
                      </a>
                  </li>
              </ul>
              <!-- sidebar menu end-->
          </div>
      </aside>
      <!--sidebar end-->


<!--main content start-->
      <section id="main-content">
          <section class="wrapper">