{% load staticfiles %}
{% include "soapboxadmin/header.html" %}

<h3><i class="fa fa-volume-up"></i> Posts</h3>
 <div class="row mt">
                  <div class="col-md-12">
                      <div class="content-panel">
                          <table class="table table-striped table-advance table-hover">
	                  	  	  <h4><i class="fa fa-music"></i>List of All Posts</h4>
	                  	  	  <hr>
                              <thead>
                              <tr>
                                  <th><i class="fa fa-list"></i> Categories</th>
                                  <th class="hidden-phone"><i class="fa fa-street-view"></i> User Name</th>
                                  <th><i class="fa fa-envelope"></i> Post Description</th>
                                  <th></th>
                              </tr>
                              </thead>
                              <tbody>
                              {% if allposts %}
                              	{% for posts in allposts %}
                                  
                              <tr>
                                  <td>| 
                                  {% for cat in posts.categories %}
                                    
                                    <a href="#">{{ cat }}</a> | 
                                    
                                  {% endfor %}
                                  </td>
                                  <td class="hidden-phone"><a href="#">{{ posts.user_email }}</a></td>
                                  <td>{{ posts.post_description }}</td>
                                  <td>
                                      <button class="btn btn-danger btn-xs" onclick="deletePost({{ posts.post_id }});"><i class="fa fa-trash-o "></i></button>
                                  </td>
                              </tr>
                                  
                              	{% endfor %}
                              {% else %}
                              <tr>
                              <td colspan="4" align="center">Sorry <i class="fa fa-frown-o"></i> No Records Found</td>
                              </tr>
                              {% endif %}
                              </tbody>
                          </table>
                      </div><!-- /content-panel -->
                  </div><!-- /col-md-12 -->
              </div><!-- /row -->
     
{% include "soapboxadmin/footer.html" %}