<html>
<head>
<title>Add Post</title>
</head>
<body>
<form action="/addpostrec/" method="post" enctype="multipart/form-data">
{% csrf_token %}
<input type="text" name="userid" placeholder="Category" value="1" />
<input type="text" name="pheading" placeholder="Post Heading" />
<input type="text" name="description" placeholder="Description"/><br />
<input type="file" name="upfile" placeholder="Upload File"/><br />
<input type="checkbox" name="category" value="1">Test1<br />
<input type="checkbox" name="category" value="3">Test3<br />
<input type="checkbox" name="category" value="4">Test4<br />
<input type="submit" value="Add" />
</form>
</body>
</html>