<html>
<head>
    <title>uploadfile</title>
	<head>
	
<!-- Generic page styles -->

<!-- CSS to style the file input field as button and adjust the Bootstrap progress bars -->
	
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.js"></script>
	<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.min.js"></script>




</head>
	<body>

	<form method="post" action="/appregister/">
	<input type="file" name="profilepic">
	<input type="submit">
	</form>

</body>
</html> 	